{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/grades.css' %}">
</head>
<body>
    <h1>ААЖ-114</h1>
    {% for student in students %}
    <ul class="movie-info">
        <li><a href="{% url 'table2'  student.url %}">{{ student.surname }} {{ student.name }}</a></li>
        <li class="gpa"><b>GPA:</b> {{ student.gpa }}</li>
    </ul>
    {% endfor %}
</body>
</html>
