{% extends 'base.html' %}
{% block content %}
</head>
<body>
        {% if user.teacher %}
            <h1>Зашел учитель</h1>
            <p>Имя: {{ user.teacher.name }}</p>
            <p>Фамилия: {{ user.teacher.surname }}</p>
            <p>Предметы учителя:</p>
            <ul>
                {% for subject in user.teacher.subject.all %}
                    <li>{{ subject.name }}</li>
                {% empty %}
                    <li>У учителя нет предметов</li>
                {% endfor %}
            </ul>
            <p>Группы учителя:</p>
            <ul>
                {% for group in user.teacher.group.all %}
                    <li>{{ group.name }}</li>
                {% empty %}
                    <li>У учителя нет групп</li>
                {% endfor %}
            </ul>
        {% elif user.student %}
            <h1>Зашел студент</h1>
            <p>Имя: {{ user.student.name }}</p>
            <p>Фамилия: {{ user.student.surname }}</p>
        {% else %}
            <h1>Ошибка 404: Пользователь не найден или у него нет прав</h1>
        {% endif %}
        <!-- <div class="iframe-container">
            <iframe src="https://talapker.ayu.edu.kz/" frameborder="0" allowfullscreen></iframe>
        </div> -->
    </main>
</body>
</html>
{% endblock %}