{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'main/css/navbar.css' %}">
<!-- Navbar -->


{% block content %}
{% endblock %}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script>
<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-F1RTS0P1CD');
        </script>
    </body>
</html>
