{% load static %}
<head>
  <link rel="icon" href="https://topuch.com/tairibi-lpinaj-siru-tehnologiyasi/822309_html_ff7a6b1f2d321014.jpg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/navbar.css' %}">

</head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">

      <header> Menu</header>
      <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <i class="fas fa-qrcode"></i>
        <span>Главная</span>
      </a>

      {% if user.student and user.student.url %}
          <a href="{% url 'student_profile' slug=user.student.url %}" class="{% if request.resolver_match.url_name == 'student_profile' %}active{% endif %}">
              <i class="fas fa-user"></i>
              <span>Профиль</span>
          </a>
      {% endif %}

      {% if user.teacher and user.teacher.url %}
          <a href="{% url 'teacher_profile' slug=user.teacher.url %}" class="{% if request.resolver_match.url_name == 'teacher_profile' %}active{% endif %}">
              <i class="fas fa-user"></i>
              <span>Профиль</span>
          </a>
      {% endif %}

      {% if user.student and user.student.url %}
        <a href="{% url 'grades' slug=user.student.url %}" class="{% if request.resolver_match.url_name == 'grades' %}active{% endif %}">
           <i class="fas fa-calendar"></i>
          <span>Оценки</span>
        </a>
      {% endif %}
      {% if user.teacher and user.teacher.group.all %}
            <a href="{% url 'teacher_groups' slug=user.teacher.url %}" class="{% if request.resolver_match.url_name == 'teacher_groups' %}active{% endif %}">
                <i class="fas fa-user-friends"></i>
                <span>Группы</span>
            </a>
      {% endif %}


      <a href="">
        <i class="far fa-question-circle"></i>
        <span>About</span>
      </a>
      <a href="#">
        <i class="fas fa-sliders-h"></i>
        <span>Services</span>
      </a>
      <hr>
      <a href="{% url 'logout' %}">
        <i class="fas fa-sign-out-alt fa-rotate-180"></i>
        <span>Выход</span>
      </a>
      <hr>
    </div>
</body>
{% block content %}
{% endblock %}
</body>
</html>
